<h4>Shoutbox</h4>
<span id="shoutBox"></span>
<div>
  <form>
    <input class="shout" type="text" id="messageField">
    <button class="butn" id="shoutBtn" type="button">Say!
    </button>
  </form>
</div>

<script>
$(document).ready(function() {
  const socket = new WebSocket('ws://' + location.hostname + ':8080');
  console.log(location.hostname);
  $('#shoutBtn').click(sendText);
  $('#messageField').keydown(function(event) {
    if (event.keyCode == 13) {
      sendText();
      return false;
    }
  });

  function sendText() {
    var txt = $("#messageField").val();
    var msg = {
      client: "<%= current_user.name %>",
      text:   txt,
      date:   "<%= Time.now.to_formatted_s(:short) %>"
    };
    console.log(msg);
    socket.send(JSON.stringify(msg));
    $("#messageField").val("");
  }
  socket.onmessage = function (event) {
    console.log(event.data);
    $("#shoutBox").append(event.data, '<br>');

    $("#shoutBox").animate({
      scrollTop: $("#shoutBox").prop('scrollHeight')}, 1000);
  }

});
</script>
